<ion-header>
  <ion-toolbar>
    <ion-title>Eu Quero Cotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-row class="login-form">
	<ion-col>
	  <div class="pins">
	    <ion-card class="pin">
	      <div>
		<ion-item>
		  <ion-label>renda familiar</ion-label>
		  <form [formGroup]="opcoesForm">
		    <ion-select  formControlName="renda" interface="popover" placeholder="abaixo/acima">
		      <ion-select-option value="acima" selected={true}>
			Acima limite
		      </ion-select-option>
		      <ion-select-option value="abaixo">
			Abaixo limite
		      </ion-select-option>
		    </ion-select>
		  </form>
		</ion-item>
		
		<ion-item>
		  <ion-label>PPI</ion-label>
		  <form [formGroup]="opcoesForm">
		    <ion-select formControlName="ppi" interface="popover" placeholder="não/preto/pardo/indígena">
		      <ion-select-option value="nao" selected={true}>Não</ion-select-option>
		      <ion-select-option value="pre">Preto</ion-select-option>
		      <ion-select-option value="par">Pardo</ion-select-option>
		      <ion-select-option value="ind">Indígena</ion-select-option>
		    </ion-select>
		  </form>
		</ion-item>
	      </div>
	    </ion-card>
	    <div align="center">
	      <ion-button  shape="round" fill="solid" (click)="doPagamento()">Pagamento</ion-button>
	      <ion-button  shape="round" fill="solid" (click)="doCancel()">Retorna</ion-button>
	    </div>
	  </div>
	</ion-col>
      </ion-row>
</ion-content>
