<ion-header>
  <ion-toolbar>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8>
                    <img src="assets/img/inmetro-logo-2.png" style="min-width: 150px; max-width: 250px"/>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
            <h3>Curso Técnico em Segurança Cibernética </h3>
        </ion-card-header>
        <ion-card-content>
 	  <p>
	      Para os alunos aprovados, o curso será
	      gratuito. Entretanto, a inscrição na prova de seleção
	      para o curso tem uma taxa.  Para finalizar a inscrição
	      na prova de seleção, é necessário pagar uma taxa através
	      de uma Guia de Recolhimento da União (GRU) no Banco do
	      Brasil. Para obter as informações clique no botão
	      "Guia".
	    </p>
            <br/>
	    <p>  
	      Para solicitar a isenção da taxa de inscrição, é
	      necessário fornecer informações adicionais. Para
	      fornecê-las, clique no botão "Isenção".
	    </p>
        </ion-card-content>
    </ion-card>
    <div align="center">
        <ion-button (click)="doIsencao()"  shape="round" fill="solid">Isenção</ion-button>
        <ion-button (click)="doInfoGuia()" shape="round" fill="solid">Guia</ion-button>
	<ion-button (click)="doCancel()"   shape="round" fill="solid">Retorna</ion-button>
    </div>

</ion-content>
