<ion-header>
  <ion-toolbar>
    <ion-title>Guia de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8>
                    <img src="assets/img/inmetro-logo-2.png" style="min-width: 150px; max-width: 250px"/>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
            <h3>Curso Técnico em Segurança Cibernética </h3>
        </ion-card-header>
        <ion-card-content>
	  <ul>
 	    <li>
	      A guia de pagamento será gerada pelo candidato no site do Tesouro Nacional.
	    </li>
 	    <li>
	      A taxa para inscrição no curso é de R$45,00.
	    </li>
 	    <li>
	      A taxa será paga através da guia exclusivamente no Banco do Brasil.
	    </li>	    
 	    <li>
	      O comprovante de pagamento deve ser entregue
	      pessoalmente na secretaria do Cicma, no prédio 32, no
	      campus do Inmetro em Xerém até a data limite.
	    </li>
 	    <li>
	      Opcionalmente, o comprovante de pagamento deve ser
              enviado por SEDEX para a secretaria do Cicma, cujo
              endereço consta
              na <a href="http://www.inmetro.gov.br/ensino_e_pesquisa/cursos/curso_tecnico_seg_cibernetica.asp">
              a página do curso.
	      </a>

	    </li>
	  </ul>
          <br/>
	  <p>  
	      Para geração da guia de pagamento, por favor acesse
              <a href="http://www.inmetro.gov.br/ensino_e_pesquisa/cursos/curso_tecnico_seg_cibernetica.asp">
                a página do curso.
	      </a>
	    </p>

        </ion-card-content>
    </ion-card>
    <div align="center">
	<ion-button (click)="doRetorna()"   shape="round" fill="solid">Retorna</ion-button>
    </div>

</ion-content>
