<ion-header>
  <ion-toolbar>
    <ion-title>Guia de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8>
                    <img src="assets/img/inmetro-logo-2.png" style="min-width: 150px; max-width: 250px"/>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
            <h3>Curso Técnico em Segurança Cibernética </h3>
        </ion-card-header>
        <ion-card-content>
	  A guia de pagamento será gerada pelo candidato no
	  <a href="http://consulta.tesouro.fazenda.gov.br/GRU_NOVOSITE/GRU_SIMPLES.ASP" target="_blank">
	    site do Tesouro Nacional
	  </a>, usando estas informações:
	  <ion-grid border="1">
	      <ion-row>
		<ion-col><strong>Campo</strong></ion-col> <ion-col><strong>Valor</strong></ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Unidade Gestora</ion-col> <ion-col>183023</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Gestão</ion-col> <ion-col>18205</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Código de Recolhimento</ion-col> <ion-col>28883-7</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Número de Referência</ion-col> <ion-col>{{pessoa.txt_rg_identidade}}</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>CPF</ion-col> <ion-col>{{pessoa.cpf}}</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Nome do Contribuinte</ion-col> <ion-col>{{pessoa.nome_completo}}</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Vencimento</ion-col> <ion-col>08/11/2019</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Valor Principal</ion-col> <ion-col>45,00</ion-col>
	      </ion-row>
	      <ion-row>
		<ion-col>Valor Total</ion-col> <ion-col>45,00</ion-col>
	      </ion-row>
	  </ion-grid>
	  <br/>
	  <p>
	    <strong> Observações importantes: </strong>
	  </p>
	  <ul>
 	    <li>
	      A taxa para inscrição no curso é de R$45,00.
	    </li>
 	    <li>
	      A taxa será paga através da guia exclusivamente no Banco do Brasil.
	    </li>	    
 	    <li>
	      O comprovante de pagamento deve ser <strong>entregue
	      pessoalmente até 08/11/19</strong> na secretaria do
	      Cicma, no prédio 32, no campus do Inmetro em Xerém.
	    </li>
 	    <li>
	      Opcionalmente, o comprovante de pagamento deve ser
              <strong>enviado por SEDEX, com data de envio até 08/11/19</strong>, para
              a secretaria do Cicma, cujo endereço consta
              na <a href="http://www.inmetro.gov.br/ensino_e_pesquisa/cursos/curso_tecnico_seg_cibernetica.asp"
              target="_blank"> página do curso
	      </a>.

	    </li>
	  </ul>
          <br/>
	  <p>
	    Para geração da guia de pagamento, por favor acesse o
	    <a href="http://consulta.tesouro.fazenda.gov.br/GRU_NOVOSITE/GRU_SIMPLES.ASP" target="_blank">
	      site do Tesouro Nacional
	    </a>.
	  </p>

        </ion-card-content>
    </ion-card>
    <div align="center">
	<ion-button (click)="doRetorna()"   shape="round" fill="solid">Retorna</ion-button>
    </div>

</ion-content>
