<ion-header>
  <ion-toolbar>
    <ion-title>Campos Guia de Pagamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <h3> Informações</h3>
    </ion-card-header>
    <ion-card-content>
      <table>
	<tr>
	  <th>Campo</th> <th>Valor</th>
	</tr>
	<tr>
	  <td>Código da Unidade Favorecida</td> <td>183023</td>
	</tr>
	<tr>
	  <td>Código de Gestão</td> <td></td>
	</tr>
      </table>


    </ion-card-content>
  </ion-card>

</ion-content>
