<ion-header>
  <ion-toolbar>
    <ion-title>Campos Guia de Pagamento</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <h3> Informações</h3>
    </ion-card-header>
    <ion-card-content>
      <table>
	<tr>
	  <th>Campo</th> <th>Valor</th>
	</tr>
	<tr>
	  <td>Código da Unidade Favorecida</td> <td>183023</td>
	</tr>
	<tr>
	  <td>Código de Gestão</td> <td>18205</td>
	</tr>
	<tr>
	  <td>Código de Recolhimento</td> <td>28883-7</td>
	</tr>
	<tr>
	  <td>Competência</td> <td>08/2019</td>
	</tr>
	<tr>
	  <td>Número de Referência</td> <td>288830045</td>
	</tr>
	<tr>
	  <td>CPF</td> <td>CPF do candidato</td>
	</tr>
	<tr>
	  <td>Nome do Contribuinte</td> <td>Nome completo do candidato</td>
	</tr>
	<tr>
	  <td>Vencimento</td> <td>27/09/2019</td>
	</tr>
	<tr>
	  <td>Valor Principal</td> <td>45,00</td>
	</tr>
	<tr>
	  <td>Valor Total</td> <td>45,00</td>
	</tr>
      </table>


    </ion-card-content>
  </ion-card>

</ion-content>
