<ion-header>
  <ion-toolbar>
    <ion-title>Isenção de Taxa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8>
                    <img src="assets/img/inmetro-logo-2.png" style="min-width: 150px; max-width: 250px"/>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
            <h3>Curso Técnico em Segurança Cibernética </h3>
        </ion-card-header>
        <ion-card-content>
	  Terá acesso à isenção de pagamento da taxa de inscrição
	  o candidato carente que estiver com registro atualizado
	  no Cadastro Único para Programas Sociais do Governo
	  Federal (CadÚnico), do Ministério da Cidadania:
	  <ul>
 	    <li>
	      Após a inscrição on-line, uma cópia do
	      <a href="https://aplicacoes.mds.gov.br/sagi/consulta_cidadao/index.php" target="_blank">
	      comprovante de cadastramento no Cadastro Único
	      </a>
	      para Programas Sociais do Governo Federal deverá ser
	      entregue pessoalmente na Secretaria do Cicma até 06 de
	      setembro de 2019.
	    </li>
	    <li>
	      Opcionalmente, a cópia do comprovante pode ser enviada
	      por SEDEX para a secretaria do Cicma, usando o nome do
	      candidato como o remetente do documento SEDEX. A data de
	      envio do pacote SEDEX deve ser até 06/09/2019.
	    </li>
	    <li>
	      A divulgação de resultado sobre requerimento de isenção
	      será no dia 10/09/19.
	    </li>

	    <li>
	      Os candidatos que
	      tiverem sua solicitação de isenção indeferida têm a
	      opção de efetuar o pagamento da taxa de inscrição no
	      processo seletivo para continuarem concorrendo a uma
	      vaga no curso.
	    </li>
	  </ul>
          <br/>
	  <p>  
	      Para obter o comprovante de cadastramento, por favor acesse
              <a href="https://aplicacoes.mds.gov.br/sagi/consulta_cidadao/index.php" target="_blank">
                a página do "Consulta Cidadão"
	      </a>
	      do Ministério da Cidadania.
	  </p>
	  <br/>
	  <p>
	    Para obter o endereço da secretaria do Cicma, acesse
            <a href="http://www.inmetro.gov.br/ensino_e_pesquisa/cursos/curso_tecnico_seg_cibernetica.asp" target="_blank">
              a página do curso
	    </a>
	  </p>
        </ion-card-content>
    </ion-card>
    <div align="center">
      <ion-button (click)="doRetorna()"   shape="round" fill="solid">
	Retorna
      </ion-button>
      <ion-button (click)="doFinaliza()"  shape="round" fill="solid">
	Quero Isenção
      </ion-button>
    </div>
</ion-content>
