<ion-header>
    <ion-toolbar>
        <ion-title>Prova de Seleção</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8>
                    <img src="assets/img/inmetro-logo-2.png" style="min-width: 150px; max-width: 250px"/>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
            <h3>Curso Técnico em Segurança Cibernética - 2019</h3>
        </ion-card-header>
        <ion-card-content>
            <p>
                Organizado pelo Instituto Nacional de Metrologia,
                Qualidade e Tecnologia (Inmetro), o processo seletivo
                para o curso escolherá 20 candidatos.
            </p>
            <br/>
            <p style='color:red'>
                <strong>Inscrições prorrogadas !!! </strong> Ainda é
                possível fazer a sua inscrição até dia 22 de Novembro
                de 2019.
            </p>
	    <br/>
            <p>	    
	      <strong>CURSO:</strong> tem quatro semestres e é baseado
	      em disciplinas de Informática, sendo presencial e
	      intensivo. Ocorre todas as manhãs de Segunda a
	      Sexta-Feira, das 8:15 às 11:45, no campus do Inmetro em
	      Xerém.
	    </p>
            <br/>
	    <p>
	      <strong>TAXA:</strong> O curso será gratuito para os alunos
	      aprovados. Entretanto, para participar do processo
	      seletivo, o candidato deve pagar uma taxa de inscrição
	      de R$ 45,00 através de uma guia de pagamento (Guia de
	      Recolhimento da União- GRU) gerada aqui, no processo de
	      inscrição online. Esta guia deverá ser paga no Banco do
	      Brasil.
	    </p>
            <br/>
	    <p>
	      <strong>PROVA:</strong> A prova de seleção não requer prévio
	      conhecimento da área de Informática. Requer apenas
	      formação no nível médio, com foco no conhecimento de
	      Matemática e Língua Portuguesa.
	    </p>	      
            <br/>
	    <p>
                <strong>PÁGINA DO CURSO:</strong> Para maiores
                detalhes, consulte
                <a href="http://www.inmetro.gov.br/ensino_e_pesquisa/cursos-tecnicos/curso_tecnico_seg_cibernetica.asp">
                    a página de divulgação do curso
                </a>.
            </p>
            <br/>
            <p>
                <strong>IMPORTANTE:</strong> Para nova inscrição
                ou consulta e atualização de uma inscrição já
                realizada, digite o código mostrado na imagem à
                esquerda. Uso de letras maiúsculas e minúsculas deve
                ser observado.
            </p>
        </ion-card-content>
    </ion-card>
    <div align="left">
        <ion-col>
            <ion-item>
                <ion-label>
                    <div class="svg" [innerHTML]="captchaSvg"></div>
                </ion-label>
                <ion-input maxlength="5" [(ngModel)]="captchaUserAnswer" placeholder="código?" type="text">
                </ion-input>
                <ion-button (click)="getUserCaptcha()" class="captcha-button">
                    <ion-icon icon="arrow-round-back" size="small"></ion-icon>
                </ion-button>

                <ion-button (click)="getMyCaptcha()" class="captcha-button">
                    <ion-icon icon="refresh" size="small"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-col>
    </div>


    <div align="center">
        <ion-button [disabled]="!captchaIsGood" (click)="doForm()" shape="round" fill="solid">Nova Inscrição</ion-button>
        <ion-button [disabled]="!captchaIsGood" (click)="doLogin()" shape="round" fill="solid"> Atualizar Existente</ion-button>
    </div>

</ion-content>
