<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Editar Ficha
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
     <h3> Informações</h3>
    </ion-card-header>
    <ion-card-content>
      <p>O <strong>Curso Técnico em Segurança Cibernética</strong>, baseado na legislação atual, oferece vagas para candidatos que estudaram em escolas públicas. Para tal, o candidato se aprovado precisará comprovar ter estudado todo o ensino fundamental e médio em escola pública. Modifique agora suas informações para refletir sua situação em caso de aprovação.</p>
    </ion-card-content>
  </ion-card>

  <h3>Informações Pessoais:</h3>

  <ion-row class="login-form">
    <ion-col>
      <div class="pins">
	<ion-card class="pin">
	  <div>
            <ion-item>
              <ion-label>
		<ion-icon  *ngIf="!signUpForm.controls.nome_completo.valid &&
				  signUpForm.controls.nome_completo.dirty; else normalIcon"
			   name="warning" color="danger"></ion-icon>
		<ng-template #normalIcon> <ion-icon  name="person"></ion-icon></ng-template>
	      </ion-label>
	      <form [formGroup]="signUpForm">
		<ion-input maxlength="40"
			   (keypress)="onKeyUp($event)"
			   formControlName="nome_completo" placeholder="nome completo"
			   type="text"></ion-input>
	      </form>
            </ion-item>
	    <div *ngIf="!signUpForm.controls.nome_completo.valid &&
			signUpForm.controls.nome_completo.dirty"
		        class="validator-error">
	      <font color="red" style="font-size: 0.9em;">
		Use letras e espaços somente.
	      </font>
	    </div>	      
            <ion-item>
              <ion-label><ion-icon name="mail"></ion-icon></ion-label>
	      <form [formGroup]="signUpForm">
		<ion-input maxlength="40" formControlName="email" placeholder="email" type="text">
		</ion-input>
	      </form>
            </ion-item>
	    <ion-item>
              <ion-label>Celular</ion-label>
	      <form [formGroup]="signUpForm">
		<ion-input maxlength="13"  formControlName="telefone" placeholder="dd-ddddd-dddd" type="text"></ion-input>
	      </form>
            </ion-item>
	    <ion-item>
	      <ion-label>Escola pública?</ion-label>
	      <form [formGroup]="signUpForm">
		<ion-select  formControlName="escola_publica" interface="popover" placeholder="Escolha uma opção">
		  <ion-select-option value="nao" selected={true}>Nunca</ion-select-option>
		  <ion-select-option value="fun">Fundamental</ion-select-option>
		  <ion-select-option value="med">Médio</ion-select-option>
		  <ion-select-option value="sim">Sempre</ion-select-option>
		</ion-select>
	      </form>
	    </ion-item>
	    
	    <!--ion-item>
	      <ion-label>Renda Familiar</ion-label>
	      <form [formGroup]="signUpForm">
		<ion-select  formControlName="renda_familiar" interface="popover">
		  <ion-select-option value="acima" selected={true}>Acima de 1,5 salários mínimos</ion-select-option>
		  <ion-select-option value="abaixo">Abaixo ou igual</ion-select-option>
		</ion-select>
	      </form>
	    </ion-item-->
	    
	    
	    <ion-item>
	      <ion-label>cotista</ion-label>
	      <form [formGroup]="signUpForm">
		<ion-select formControlName="cotista" interface="popover" placeholder="Escolha uma opção">
		  <ion-select-option value="nao" selected={true}>Não</ion-select-option>
		  <ion-select-option value="pre">Preto</ion-select-option>
		  <ion-select-option value="par">Pardo</ion-select-option>
		  <ion-select-option value="ind">Indígena</ion-select-option>
		</ion-select>
	      </form>
	    </ion-item>
	  </div>
	</ion-card>
	<div align="center">
	  <ion-button  shape="round" fill="solid" [disabled]="!signUpForm.touched" (click)="save()">
	    Enviar
	  </ion-button>
	  <ion-button  shape="round" fill="solid" (click)="close()">
	    Cancela
	  </ion-button>
	</div>

     </div>
    </ion-col>
  </ion-row>
 
    
</ion-content>
